.canva-div{ 
  margin-top:4rem;
  // width:100%;
  text-align: left;
  justify-content: left;
  align-items: left;
  overflow-x: hidden;
  overflow-y: hidden;
};

.konvajs-content{
  background: #ffffff;
  overflow-y:hidden;
};


.canva-form{
  padding: 3rem;
  width:94%;
};

.canva-grommet-select{
  width: 70%;
  text-align: center;
};

.canva-grommet-select{
  font-family: $brand-font;
}


@media screen and (max-width: 900px){
  .canva-div{ 
    margin-top:0;
  };
}
