.header-div{
  height: 4rem;
  width:100%;
  border-bottom: 1px solid #c2bdbd;
};

.header-logo{
  width:100px;
}

.header-table{
  width:100%;
  height:100%;
};

.header-icon{
  width: 30%;
};

.header-text{
  width:30%;
};

.header-insert{
  width: 30%;
};

.header-name{
  text-decoration: none;
  font-family: $brand-font;
  font-size: 1.2rem;
  color: #3b3838;
};

@media screen and (max-width: 900px){
  .header-logo{
    width:50px;
  };
}
